In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from sklearn.cross_validation import train_test_split

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
data = pd.read_excel("orders.xlsx")
data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,Unnamed: 8,Unnamed: 9
0,2539329,1,prior,1,2,8,NaN,NaN,NaN,NaN
1,2398795,1,prior,2,3,7,15.0,NaN,NaN,NaN
2,473747,1,prior,3,3,12,21.0,NaN,NaN,NaN
3,2254736,1,prior,4,4,7,29.0,NaN,NaN,NaN
4,431534,1,prior,5,4,15,28.0,NaN,NaN,NaN

In [3]:
len(data["user_id"].unique())

63100

In [4]:
len(data["product_id"].unique())

415

In [5]:
df = pd.pivot_table(data=data,columns="product_id",index="user_id",values="order_number",fill_value=0)
df.head()

product_id,28.0,45.0,210.0,311.0,429.0,432.0,517.0,742.0,765.0,1160.0,...,48097.0,48733.0,49026.0,49044.0,49235.0,49457.0,49496.0,49588.0,49605.0,49621.0
user_id,,,,,,,,,,,,,,,,,,,,,
90,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
787,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0

In [6]:
model = NearestNeighbors(n_neighbors=3)
model.fit(df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=3, p=2, radius=1.0)

In [7]:
#Exercise 4
print(model.kneighbors(df.iloc[174,:]))

(array([[  0.        ,  12.20655562,  12.80624847]]), array([[174, 314, 373]], dtype=int64))

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)